@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Domine&display=swap");
.quatrieme-container {
  background-color: #E7C7AC;
  width: 100vw;
  height: 1810px;
  padding-top: 200px;
  font-family: "Abril Fatface", cursive;
}

.container-titre-page-4 {
  border: 4px #000000 solid;
  width: 550px;
  height: 230px;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-titre-page-4 #titre-page-4 {
  color: #162C29;
  font-weight: bold;
  font-size: 70px;
  transform: translateY(-200%);
  opacity: 0;
}

.trait-page-4 {
  height: 180px;
  width: 3px;
  background-color: black;
  margin: 0 auto;
}

.container-principale1-page-4 {
  width: 1200px;
  height: 1150px;
  border: solid #162C29 4px;
  margin: 0 auto;
  border-radius: 30px;
}
.container-principale1-page-4 .top-container-principale1-p4 {
  height: 25%;
  width: 100%;
  border-bottom: #162C29 2px solid;
  display: flex;
}
.container-principale1-page-4 .top-container-principale1-p4 .titre-top-container-principale1-p4 {
  transform: translateY(-100%);
  opacity: 0;
  text-align: center;
  height: 100%;
  width: 50%;
  padding: 25px 10px;
  font-size: 80px;
  letter-spacing: 2px;
}
.container-principale1-page-4 .top-container-principale1-p4 .titre-top-container-principale1-p4 span:nth-child(1), .container-principale1-page-4 .top-container-principale1-p4 .titre-top-container-principale1-p4 span:nth-child(4) {
  color: #162C29;
  font-weight: bold;
}
.container-principale1-page-4 .top-container-principale1-p4 .titre-top-container-principale1-p4 span:nth-child(3) {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #162C29;
}
.container-principale1-page-4 .top-container-principale1-p4 .texte-top-container-principale1-p4 {
  transform: translateY(-100%);
  opacity: 0;
  height: 100%;
  width: 50%;
  font-size: 18px;
  line-height: 28px;
  padding: 35px 50px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #162C29;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container-principale1-page-4 .bottom-container-principale1-p4 {
  width: 100%;
  height: 75%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 2px;
}
.container-principale1-page-4 .bottom-container-principale1-p4 video {
  width: 93%;
}

.animApparitionTexteContainerQuatre {
  animation: apparitionTexteContainerQuatre 0.4s forwards ease-out;
}

@keyframes apparitionTexteContainerQuatre {
  0% {
    transform: translateY(-200%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.animApparitionTexteContainerQuatreDeux {
  animation: apparitionTexteContainerQuatreDeux 0.4s forwards ease-out;
}

@keyframes apparitionTexteContainerQuatreDeux {
  0% {
    transform: translateY(-80%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.container-deux-principale-page-quatre {
  margin: 0 auto;
  margin-top: 300px;
  border-radius: 30px;
  position: relative;
}

.animationTopElementCache {
  animation: animTopElementCache 0.2s forwards linear;
}

@keyframes animTopElementCache {
  0% {
    top: -2%;
    left: 0%;
  }
  100% {
    top: -2%;
    left: 110%;
  }
}
.animationRightElementCache {
  animation: animRightElementCache 0.2s 0.2s forwards linear;
}

@keyframes animRightElementCache {
  0% {
    right: -1%;
    top: 2%;
  }
  100% {
    right: -1%;
    top: 110%;
  }
}
.animationBottomElementCache {
  animation: animBottomElementCache 0.2s 0.4s forwards linear;
}

@keyframes animBottomElementCache {
  0% {
    right: 0%;
    bottom: -2%;
  }
  100% {
    right: 110%;
    bottom: -2%;
  }
}
.animationLeftElementCache {
  animation: animLeftElementCache 0.2s 0.6s forwards linear;
}

@keyframes animLeftElementCache {
  0% {
    left: -5.6%;
    top: 3%;
  }
  100% {
    left: -5.6%;
    top: -100%;
  }
}
@media screen and (max-width: 1274px) {
  .container-titre-page-4 {
    width: 400px;
  }
  .container-titre-page-4 #titre-page-4 {
    font-size: 55px;
  }
  .trait-page-4 {
    height: 100px;
  }
  .container-principale1-page-4 {
    width: 90%;
  }
  .container-principale1-page-4 .top-container-principale1-p4 .titre-top-container-principale1-p4 {
    font-size: 60px;
  }
  .container-principale1-page-4 .top-container-principale1-p4 .texte-top-container-principale1-p4 {
    font-size: 15px;
    padding: 35px 10px;
  }
  .container-principale1-page-4 .bottom-container-principale1-p4 {
    align-items: center;
  }
  .container-principale1-page-4 .bottom-container-principale1-p4 video {
    width: 93%;
  }
}
@media screen and (max-width: 1061px) {
  .container-principale1-page-4 .top-container-principale1-p4 {
    height: 30%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .container-principale1-page-4 .top-container-principale1-p4 .titre-top-container-principale1-p4 {
    height: 40%;
    width: 90%;
    font-size: 40px;
  }
  .container-principale1-page-4 .top-container-principale1-p4 .texte-top-container-principale1-p4 {
    height: 70%;
    width: 90%;
  }
}
@media screen and (max-width: 610px) {
  .container-principale1-page-4 .top-container-principale1-p4 {
    height: 50%;
  }
  .container-principale1-page-4 .bottom-container-principale1-p4 {
    height: 50%;
  }
}
@media screen and (max-width: 452px) {
  .container-titre-page-4 {
    width: 250px;
  }
  .container-titre-page-4 #titre-page-4 {
    font-size: 35px;
  }
  .container-principale1-page-4 {
    height: 1000px;
  }
  .container-principale1-page-4 .top-container-principale1-p4 {
    height: 65%;
  }
  .container-principale1-page-4 .top-container-principale1-p4 .titre-top-container-principale1-p4 {
    font-size: 35px;
    width: 100%;
    padding: 80px 0px;
  }
  .container-principale1-page-4 .top-container-principale1-p4 .texte-top-container-principale1-p4 {
    font-size: 13px;
    padding: 0px 10px;
  }
  .container-principale1-page-4 .bottom-container-principale1-p4 {
    height: 35%;
  }
}/*# sourceMappingURL=page4.css.map */