*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.containerVisible,.containerInvisible{
    height: 247px;
    width: 247px;
    background-color: blueviolet;
    margin-top: 50px;
}

.containerInvisible{
    transform: translateX(-1200px);
    transition: all 2s;
}