*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
    --couuleur-background :#32398F;
    --couleur-interieur : #212253;
    --couleur-border : #87CEEB;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--couuleur-background);
}

.generateur {
    background-color: var(--couleur-interieur);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 2px 0px, rgba(255, 255, 255, 0.1) 0px 2px 6px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: white;
    text-align: center;
    font-size: 23px;
    margin: 20px 10px 10px 10px ;
}

.affichage {
    width: 280px;
    padding: 5px;
    background-color: #131430;
    color: rgba(255, 255,255 , 0.8);
    margin: 10px 10px;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 3px;
}

.option {
    width: 280px;
}

.option p{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
    color: rgba(255, 255,255 , 0.8);
    font-size: 19px;
}


#btn{
    margin: 10px 0 20px 0;
    width: 290px;
    padding: 15px;
    color: white;
    background-color: var(--couuleur-background);
    border: none;
    border: 3px solid 	var(--couleur-interieur);
    font-weight: bold;
    font-size: 19px;
}

#btn:hover{
    cursor: pointer;
    border: 3px solid 	var(--couleur-border);
}

#inputNumber:focus{
    outline-color: 	var(--couleur-border);
}